<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal | Face Scan</title>
    <link rel="stylesheet" href="css/face-scan.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <%- include('partials/header') %>
    <form class="contentarea" method="POST" enctype="multipart/form-data">
        <h1 class="face-scan-title">
            Face Scan
        </h1>
        <div class="scan-container">
            <div class="scan-container__video">
                <div class="camera">
                    <video id="video">Video stream not available.</video>
                </div>
                <div><button id="startbutton">Take and scan photo</button></div>
                <p>Camera</p>
            </div>
            <canvas id="canvas"></canvas>
            <div class="output">
                <img id="photo" alt="The screen capture will appear in this box.">
                <p>Final Photograph</p>
          </div>
        </div>
    </form>
    <div id="loader">
        <object data="images/loader.svg" width="90" height="90"></object>
    </div>
    <div id="result">
        <h1 id="resultText"></h1>
    </div>
    <script src="javascript/faceScan.js"></script>
</body>
</html>